.App {
  text-align: center;
}
.mt-15{
  margin-top: 15px;
}
.mr-5{
  margin-right: 5px;
}
.ml-55{
  margin-left: 5px;
}
.pr-5{
  padding-right: 5px;
}
.dropdown-menu .fa::before{
  padding-right: 10pxpx;
}
.text-right{
  float: right;
  cursor: pointer;
}
.text-right:hover{
  color: red;
}
.sort-selected:after{
  margin: 0 0 0 10px;
}
